@using S.I.A.C.Filters
@using S.I.A.C.Models.DomainModels
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - S.I.A.C.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>
<div class="contenedor">
    <header>
        <div class="logo">
            <div class="navbar-header">
                <a class="d-flex flex-row" href="@Url.Action("Index", "Home")">
                    <img src="~/Resource/logoSIACv2.png" alt="Site Logo"/>

                    @{
                        var user = (people) Session["User"];
                        if (user != null)
                        {
                            var name = user.name;
                            @Html.Label("name", "Bienvenido: " + name, new {@class = "h3 navbar-text navbar-right"})
                        }
                    }
                </a>
            </div>
        </div>
        <nav>
            @Html.ActionLink("Inicio", "Index", "Home")
            @Html.ActionLink("Nuevo Ticket", "Ticket", "Ticket")
            @Html.ActionLink("Tickets", "CurrentTickets", "Ticket")
            @if (AuthorizeViews.IsAuthonized(1))
            {
                @Html.ActionLink("Nuevo Usuario", "Create", "Peoples")
            }
            @Html.ActionLink("Cerrar sesión", "SingOut", "Home")
        </nav>
    </header>


    @RenderBody()
    <footer>
        <p>&copy; @DateTime.Now.Year - S.I.A.C.</p>
    </footer>
</div>
@RenderSection("scripts", false)
</body>
</html>