@using S.I.A.C.Models
@model IEnumerable<S.I.A.C.Models.TicketPrintableModel>

@{
    ViewBag.Title = "CurrentTickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pendientes @Model.Count()</h2>

<p>
    @Html.ActionLink("Crear Nuevo Ticket", "Ticket")
</p>

<table class="table table-striped">
    <thead class="titulares">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreationDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assignedTechnician)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creatorPeople)
        </th>
    </tr>
    </thead>
    @foreach (var item in Model)
    {
        var client = item.getClientFullName();
        var tec = item.getTecniFullName();
        var creat = item.getCreatorFullName();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td class="desc">
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => creat)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */})
                @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */})
                @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
            </td>
        </tr>
    }

</table>