@using S.I.A.C.Filters
@using S.I.A.C.Service
@model IEnumerable<S.I.A.C.Models.TicketPrintableModel>

@{
    ViewBag.Title = "CurrentTickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pendientes: @Model.Count()</h2>

<p>
    @Html.ActionLink("Crear Nuevo Ticket", "Ticket")
</p>

<table class="resp">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreationDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assignedTechnician)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creatorPeople)
        </th>
        <th></th>
    </tr>
    </thead>
    @Html.Hidden("ticketIdLocal", (string) ViewBag.TicketIdEncrypt)
    @foreach (var item in Model)
    {
        var client = item.getFullName(item.client, item.clientLastname);
        var tec = item.getFullName(item.assignedTechnician, item.assignedTechnicianLastname);
        var creat = item.getFullName(item.creatorPeople, item.assignedTechnicianLastname);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td class="desc">
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => tec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => creat)
            </td>
            @{
                var ticketId = Encrypt.Protect(item.idLocal.ToString());
            }
            <td>
                @if (AuthorizeViews.IsAuthonized(14))
                {
                    @Html.ActionLink("Editar", "Edit", new {internalId = ticketId})
                    Html.ActionLink("Borrar", "Delete", new {/*ticketIdLocal = ticketId*/});
                }
                @Html.ActionLink("Detalle / Actualizar", "Detail", TempData["ticketIdLocal"] = ticketId)
            </td>
        </tr>
    }

</table>