@using S.I.A.C.Models
@model S.I.A.C.Models.TicketPrintableModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar:</h2>

<h3>¿Esta seguro que desea borrar este ticket?</h3>
<hr/>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idLocal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idLocal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientLastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientLastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Enum.GetName(typeof(EStatus), Model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assignedTechnician)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assignedTechnician)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assignedTechnicianLastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assignedTechnicianLastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creatorPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creatorPeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creatorPeopleLastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creatorPeopleLastname)
        </dd>
        @Html.Hidden("ticketIdLocal", (string)ViewBag.TicketIdEncrypt)
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" />
            @Html.ActionLink("  Regresar", "Index", "Home", null, new { @class = "btn btn-danger btn-lg glyphicon glyphicon-arrow-left" })
        </div>
    }
</div>