@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model S.I.A.C.Models.LoginDataModel

<link href="~/Content/bootstrap.css" rel="stylesheet"/>
<link href="~/Content/Style.css" rel="stylesheet">

<div class="row-no-gutters">

    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-offset-5 col-md-3">
            <br/>
            @Html.LabelFor(x => x.email)
            @Html.TextBoxFor(x => x.email, new {@class = "form-control", autofocus = "autofocus"})
            @Html.ValidationMessageFor(x => x.email, null, new {@class = "text-danger"})
            <br/>

            @Html.LabelFor(x => x.password)
            @Html.PasswordFor(x => x.password, new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.password, null, new {@class = "text-danger"})
            <br/>
            <div class="wrapper">
                <button class="btn btn-primary" type="submit">
                    Ingresar
                </button>
            </div>
            <div class="text-danger" align="center">
                @ViewBag.Message
                @TempData["ErrorMessage"]
            </div>
        </div>
    }
</div>