@model S.I.A.C.Models.LoginDataModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<link href="~/Content/StyleSheet2.css" rel="stylesheet"/>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript">
    $(document).ready(function() {
        $(".username").focus(function() {
            $(".user-icon").css("left", "-48px");
        });
        $(".username").blur(function() {
            $(".user-icon").css("left", "0px");
        });
        $(".password").focus(function() {
            $(".pass-icon").css("left", "-48px");
        });
        $(".password").blur(function() {
            $(".pass-icon").css("left", "0px");
        });
    });
</script>
<body>


<div id="wrapper">

   
    <div class="user-icon"></div>
    <div class="pass-icon"></div>
   
    <div class="login-form">

        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            <div class="header">
                <img src="~/Resource/logoSIAC.png" alt="Site Logo" style="position:center;width: 75%;"/>

            </div>
            @Html.AntiForgeryToken()

            <div class="content">


                <br/>
                @Html.LabelFor(x => x.email)
                @Html.TextBoxFor(x => x.email, new {@class = "form-control", autofocus = "autofocus"})
                @Html.ValidationMessageFor(x => x.email, null, new {@class = "text-danger"})
                <br/>

                @Html.LabelFor(x => x.password)
                @Html.PasswordFor(x => x.password, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.password, null, new {@class = "text-danger"})
                <br/>
                <p style="color: red; text-align: center">
                </p>
                <div class="footer" align="center">
                    <span class="group-btn">
                        <input type="submit" name="submit" value="Ingresar" class="button"/>
                    </span>
                </div>
                <div class="text-danger" align="center">
                    @ViewBag.Message
                    @TempData["ErrorMessage"]
                </div>
                @Html.Hidden("internalId", (string) ViewBag.LoginIdEncrypted)
            </div>
        }
    </div>
</div>

<div class="gradient"></div>

</body>