@model S.I.A.C.Models.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="text-success" align="left">
    @ViewBag.Message
    @TempData["Successful"]
    <h3>@TempData["TicketNumber"]</h3>
</div>
<div class="col" style="display: flex; flex-direction: column; flex-wrap: nowrap; padding: 0px 90px 0px 90px;">
    <div>
        <h2>Bienvenido al sistema de tickets<strong> S.I.A.C.</strong></h2>
        <p>
            Con el fin de agilizar las solicitudes de soporte y brindar un mejor servicio,
            utilizamos un sistema de ticket de soporte. A cada solicitud se le asigna un número de ticket único que puede utilizar para verificar online el estado de su consulta.
        </p>
        <br/>
    </div>
    <hr/>
    <div class="row text-center">
        <div class="col-md-6">
            <h3>Abrir un nuevo Ticket</h3>
            <br>
            <div>Por favor, facilite el máximo detalle para que podamos darle la mejor asistencia. Para actualizar un Ticket enviado anteriormente, por favor acceda al sistema.</div>
            @Html.ActionLink("  NUEVO TICKET", "Ticket", "Ticket", new {Model}, new {@class = "btn btn-success btn-md"})
        </div>
        <div class="col-md-6">
            <h3>Ver Estado de un Ticket</h3>
            <br>
            <div>Poseemos los archivos y la historia completa de todas sus solicitudes de soporte, presentes y pasadas, junto a sus respuestas.</div>
            @Html.ActionLink("  BUSCAR TICKET", "SearchID", "Search", new {Model}, new {@class = "btn btn-primary btn-md" })
        </div>
    </div>
</div>
<hr/>
<!-- /Inicio Buscador -->
<br>
<div class="row center-block">
    <div class="col">
        @using (Html.BeginForm("Search", "Search"))
        {
            <div class=" d-flex justify-content-center input-group">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @Html.ValidationMessageFor(model => model.toSearch, "", new {@class = "text-danger"})
                @Html.EditorFor(model => model.toSearch, new {htmlAttributes = new {@class = "form-control", placeholder = "Buscar en el sistema..."}})
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-sm" type="submit">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>
<p></p>

<!-- /Fin Buscador -->